[submodule "parts/runbot-addons"]
	path = parts/runbot-addons
	url = git@github.com:gurneyalex/runbot-addons
	branch = 9.0-OCA-installation
[submodule "parts/server-tools"]
	path = parts/server-tools
	url = git@github.com:OCA/server-tools
	branch = 9.0
[submodule "parts/website"]
	path = parts/website
	url = git@github.com:OCA/website
	branch = 9.0
[submodule "parts/server"]
	path = parts/server
	url = git@github.com:OCA/ocb
	branch = 9.0
[submodule "parts/runbot"]
	path = parts/runbot
	url = git@github.com:odoo/runbot
[submodule "parts/server-ux"]
	path = parts/server-ux
	url = https://github.com/OCA/server-ux
